<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVzM7YsKMg_H9UkMtyCzZaVQtCz9rJ-Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>993208229994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.donmanuel.app</string>
	<key>PROJECT_ID</key>
	<string>daktarlamaraapp-e5934</string>
	<key>STORAGE_BUCKET</key>
	<string>daktarlamaraapp-e5934.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993208229994:ios:e368f92eeb542739de2a13</string>
</dict>
</plist>